body {
    padding-top:37px;
    background-color:#E8E8E3;
  
}

.jumbotron{
    background-color:#FFB50F;
    color:white;
}

.panel-heading{
    background-color:black;
}

.panel-title{
    background-color:black;
    color:white;
   
}
footer{
    height:40px;
    background-color:black;
    margin-top:35px;
    color:white;
    text-align:right;
    padding-top:10px;
}

.center{
    text-align:center;
}

.right{
    float:right;
}

.panel-body{
    align-content:center;
}