body {
    padding-top:215px;
  
}

footer{     
    
    background:#1b1a1a;     
    width:100%;
    color:white;
}

.center-page{
    width:300px;
    height:300px;    
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

.imagen{
   
    
    background-color:aliceblue;
}

.space-vert{
    margin-top:20px;
}

.footer-pos{
    width:auto;
    height:39px;
    position:absolute;
    top:600px;
    bottom:0;
    left:0;
    right:0;
}